################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScholarshipApp/Bin
/.vs/ScholarshipApp/v17
/.vs/ScholarshipApp/FileContentIndex
*.config
/.gitattributes
/.gitignore
/.gitattributes
/.vs
