<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="data source=DESKTOP-5H6GD9S\SQLEXPRESS;initial catalog=Scholarship;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--<add name="con" connectionString="data source=LAPTOP-I52TFVIL;initial catalog=Scholarship;persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Windows"/>
  </system.web>
</configuration>